//
//  Production.xcconfig
//  MarvelApp
//
//  Created by Jon Gonzalez on 20/3/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-MarvelApp/Pods-MarvelApp.debug (production).xcconfig"
#include "Pods/Target Support Files/Pods-MarvelApp/Pods-MarvelApp.release (production).xcconfig"

APP_ENVIRONMENT = Production

// App Settings
APP_NAME = MarvelApp
APP_BUNDLE_ID = com.jongonzalez.MarvelApp.pro
