<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>06402bf94c966e537b07add701eea72e</string>
	<key>HASH</key>
	<string>20210617fd565416701b10a00a012bac</string>
	<key>TS</key>
	<string>jontxu</string>
</dict>
</plist>
